@import url('main-layout.module.css');

html {
    --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
    --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
    --lumo-border-radius-l: var(--lumo-size-m);
}

[theme~="dark"] {
    --lumo-base-color: hsl(214, 22%, 13%);
    --lumo-dark-color: hsl(214, 22%, 11%);
}

.board {
    font-family: monospace;
    margin-bottom: -1.5rem;
    width: 40vw;
    aspect-ratio: 1/1;
    position: relative;
    flex-shrink: 0;
    min-width: 20vw;
    max-width: 50vw;
    height: fit-content;
}

.game_layout {
    position: relative;
    display: flex;
    padding: 0;
    aspect-ratio: 1/1;
    min-width: 40vh;
    min-height: 40vh;
    max-width: 90vh;
    max-height: 90vh;
    width: 100vw;
    height: fit-content;
    flex-shrink: 0;
}

.scale_icon {
    position: absolute;
    bottom: 0;
    right: -1cm;
    width: 2rem;
    height: 2rem;
    cursor: se-resize;
}

.board_row {
    width: 100%;
    position: relative;
}

.board_row vaadin-button {
    width: 12.5%;
    height: auto;
    aspect-ratio: 1/1;
    margin: -0.5rem;
    border-radius: 0;
    padding: 0;
}

.square_image {
    width: 95%;
}

.square {
    width: 1vw;
    height: auto;
    aspect-ratio: 1/1;
    margin: -.5rem;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
}

.dark_square {
    background-color: #b58863;
}

.light_square {
    background-color: #f0d9b5;
}

.selected {
    background-color: gold;
}

.highlighted {
    filter: hue-rotate(184deg);
}

.v-draggable {
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    background: #90bdf9;
    opacity: 1;
}

.command_line {
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--lumo-dark-color);
    color: #90bdf9;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

.command_line_parent {
    position: relative;
    border-radius: 0 var(--lumo-border-radius-m) var(--lumo-border-radius-m) 0;
}

.command_line_parent vaadin-text-field {
    --vaadin-input-field-border-radius: var(--lumo-border-radius-m) 0 0 var(--lumo-border-radius-m);
}

.command_line_button {
    margin-left: -1rem;
    border-radius: 0 var(--lumo-border-radius-m) var(--lumo-border-radius-m) 0;
    padding-right: .75rem;
}

.command_line_tooltip_button {
    margin-right: -1rem;
    border-radius: var(--lumo-border-radius-m) 0 0 var(--lumo-border-radius-m);
    padding-left: .75rem;
}

.tooltip_layout {
    position: absolute;
    z-index: 1;
    background: #1a2a41;
    color: #90bdf9;
    border-radius: var(--lumo-border-radius-m);
    padding: 1rem;
    font-weight: bold;
    font-size: 1rem;
    bottom: 100%;
}

.game_content_layout {
    height: 100%;
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.game_info_layout {
    display: flex;
    flex-direction: column;
    position: relative;
}

.game_info_layout_child:nth-child(1) {
    height: 10%;
    flex-grow: 0;
}
.game_info_layout_child:nth-child(2) {
    height: 80%;
    flex-grow: 1;
}
.game_info_layout_child:nth-child(3) {
    height: 10%;
    flex-grow: 0;
}

.game_content_layout_child {
    height: 100%;
    flex-grow: 1;
    scrollbar-width: none;
    background: var(--lumo-dark-color);
    border-radius: var(--lumo-border-radius-m);
    max-width: 25vw;
}

.game_content_layout_child::-webkit-scrollbar {
    display: none;
}

.target_square {
    text-align: center;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    color: #90bdf9;
    background: #1a2a41;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 2rem;
}

.algebraic_history_item {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.move_history {
    height: 50vh;
    overflow: scroll;
    scrollbar-width: none;
    padding: 0.5rem;
}
.move_history::-webkit-scrollbar {
    display: none;
}

.settings_nav_item {
    width: 100%;
}

.text_field_layout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar-parent {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: -1rem;
}
.progress-bar-parent p {
    margin: 0;
}

.progress-container {
    width: 100%;
    height: 20px;
    background-color: #1a2a41;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    border-radius: 2rem;
    border: .15rem solid #0b131c;
    opacity: 1;
}

.progress-bar {
    height: 20px;
    top: 0;
    left: 0;
    background-color: #90bdf9;
    position: absolute;
}











.column-container {
    display: flex;
    height: 100%;
    align-items: stretch;
}

.column {
    flex-grow: 1; /* Allow the middle column to grow and fill the remaining space */
    padding: 10px;
    box-sizing: border-box;
}

.left-column {
    width: 200px; /* Set a fixed width or minimum width as needed */
    background-color: lightgray;
}

.middle-column {
    flex-shrink: 0;
    resize: block;
    min-width: 100px; /* Define a minimum width for the middle column */
    background-color: lightblue;
}

.right-column {
    width: 200px; /* Set a fixed width or minimum width as needed */
    background-color: lightgray;
}

@media (max-aspect-ratio: 1/1) and (min-aspect-ratio: 0/1) {
    .game_content_layout {
        height: 75vw;
        width: 75vw;
    }
    .game_content_layout_child {
        width: 20vw;
    }
}



/* Range Slider as a Single Thumb Slider */
.range-slider__thumb[data-lower] {
    width: 0;
}
