@import url('./main-layout.css'); html {
  --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
  --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
  --lumo-border-radius-l: var(--lumo-size-m);
}

[theme~="dark"] {
  --lumo-base-color: hsl(214, 22%, 13%);

}

.board {
    font-family: monospace;
    margin-bottom: -1.5rem;
    width: 40vw;
    aspect-ratio: 1/1;
    position: relative;
    flex-shrink: 0;
    min-width: 20vw;
    max-width: 50vw;
    height: fit-content;
}

.game_layout {
    position: relative;
    display: flex;
    padding: 0;
    aspect-ratio: 1/1;
    min-width: 20vw;
    min-height: 20vw;
    max-width: 40vw;
    max-height: 40vw;
    width: 100vw;
    height: fit-content;
    flex-shrink: 0;
}

.scale_icon {
    position: absolute;
    bottom: 0;
    right: -1cm;
    width: 2rem;
    height: 2rem;
    cursor: se-resize;
}

.board_row {
    width: 100%;
    position: relative;
}

.board_row vaadin-button {
    width: 12.5%;
    height: auto;
    aspect-ratio: 1/1;
    margin: -0.5rem;
    border-radius: 0;
    padding: 0;
}

.square_image {
    width: 95%;
}

.square {
    width: 1vw;
    height: auto;
    aspect-ratio: 1/1;
    margin: -.5rem;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
}

.dark_square {
    background-color: #b58863;
}

.light_square {
    background-color: #f0d9b5;
}

.selected {
    background: gold;
}

.game_content_layout {
    height: 80vh;
    width: auto;
}

.game_content_layout_child {
    height: auto;
    flex-grow: 1;
    scrollbar-width: none;
}

.game_content_layout_child::-webkit-scrollbar {
    display: none;
}

.target_square {
    text-align: center;
    padding: 1rem;
    margin-top: -.5rem;
    color: #90bdf9;
    background: #1a2a41;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 2rem;
}

.move_history {
    height: 50vh;
    overflow: scroll;
    scrollbar-width: none;
}
.move_history::-webkit-scrollbar {
    display: none;
}

.settings_nav_item {
    width: 100%;
}

.text_field_layout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar-parent {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: -1rem;
}
.progress-bar-parent p {
    margin: 0;
}

.progress-container {
    width: 100%;
    height: 20px;
    background-color: #1a2a41;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    border-radius: 2rem;
    border: .15rem solid #0b131c;
}

.progress-bar {
    height: 20px;
    top: 0;
    left: 0;
    background-color: #90bdf9;
    position: absolute;
}











.column-container {
    display: flex;
    height: 100%;
    align-items: stretch;
}

.column {
    flex-grow: 1; /* Allow the middle column to grow and fill the remaining space */
    padding: 10px;
    box-sizing: border-box;
}

.left-column {
    width: 200px; /* Set a fixed width or minimum width as needed */
    background-color: lightgray;
}

.middle-column {
    flex-shrink: 0;
    resize: block;
    min-width: 100px; /* Define a minimum width for the middle column */
    background-color: lightblue;
}

.right-column {
    width: 200px; /* Set a fixed width or minimum width as needed */
    background-color: lightgray;
}

@media (max-aspect-ratio: 1/1) and (min-aspect-ratio: 0/1) {
    .game_content_layout {
        height: 75vw;
        width: 75vw;
    }
    .game_content_layout_child {
        width: 20vw;
    }
}